extends ../base/money-layout

block main
	//- TODO: CSS STYLE, remove br tags
	h3 Add new Receipt
	form#newReceiptForm(method="post", action="/money_tracker/add")

		label Receipt Name:
		input(type="text", name="receiptName" placeholder="Receipt Name")
		br

		label Cost:
		input(type="text", name="totalPriceToSpend" placeholder="Total Price")
		br

		label Type of Payment
		br

		| Cash
		input(type="radio", name="payment", value="cash")
		br

		| Visa
		input(type="radio", name="payment", value="visa")
		br

		| MasterCard
		input(type="radio", name="payment", value="mastercard")
		br

		| American Express
		input(type="radio", name="payment", value="americanexpress")
		br

		| Other
		input(type="radio", name="payment", value="other")
		br

		input(type="submit", value="Add")