doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title='iKeep'
    script(type="text/javascript", src="../../../bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="../../../bower_components/moment/moment.js")
    script(type="text/javascript", src="../../../public/js/item/item.js")
    script(type='text/javascript', src='../../../public/js/script.js')

    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono|Passion+One:900', rel='stylesheet')
    link(rel="stylesheet", type="text/css", href="../../../bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../../../bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='../../../public/css/style.css')


  header
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') iKeep
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about')
                | About 
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Money Tracker 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/money_tracker/show') iShow
                li
                  a(href='/money_tracker/dashboard') iDashboard

          //- ul.nav.navbar-nav.navbar-right
          //-   li
          //-     a(href='/Login') Login
          .navbar-form.navbar-right 
            button.btn.btn-danger(type='button', data-toggle='modal', data-target='#myModal') Login
 
  body
    block main

    // Trigger the modal with a button
    // Modal
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Login to iKeep Today
          .modal-body
            .row
              .col-md-6
                .row.form-margin-bottom
                  h4.font-label-size='Login today!'
                  form.font-cutive-mono(action='/login', method='post')
                    .form-inline.form-margin-bottom
                      label Username
                      input.margin-both-5px.form-control(autocomplete='off' type='text', name='username' placeholder='Username')
                    .form-inline.form-margin-bottom
                      label Password
                      input.margin-both-7px.form-control(type='password', name='password' placeholder='Password')

                    button.btn.btn-danger.form-control(type='submit') Login

                .row.form-margin-bottom.no-padding
                  .col-md-6
                    button.btn.btn-primary.form-control(type='submit')
                      i.fa.fa-facebook(aria-hidden="true")
                  .col-md-6
                    button.btn.btn-info.form-control(type='submit')
                      i.fa.fa-twitter(aria-hidden="true")
              .col-md-6
                .row.form-margin-bottom
                  h4.font-label-size='Sign up for an account!'
                  a.btn.btn-danger.form-control.form-margin-bottom(href="/signup") Signup
                  a.btn.btn-primary.form-control.form-margin-bottom(href="http://localhost:3000/auth/facebook/callback") Facebook
                  a.btn.btn-info.form-control.form-margin-bottom(href="http://127.0.0.1:3000/auth/twitter/callback") Twitter
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close