doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title='iKeep'
		//- meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Cutive+Mono|Passion+One:900', rel='stylesheet')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')

	header
		nav#public-navigation-bar
			ul
				li.font-passion-one.font-label-size-160px#logo='iKeep'
				
				li
					a(href="/money_tracker") Money Tracker
				li
					a(href="/money_tracker/add") Add
				li
					a(href="/login") Login
				li Welcome back #{user}

	body
		block main
		script(type='text/javascript', src='/lib/jquery/jquery-2.2.3.min.js')
		script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/script.js')
