doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title='iKeep'

    script(type="text/javascript", src="../../../bower_components/jquery/dist/jquery.min.js")
    script(type='text/javascript', src='../../../bower_components/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='../../../public/js/script.js')

    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono|Passion+One:900', rel='stylesheet')
    link(rel="stylesheet", type="text/css", href="../../../bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../../../bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href='../../../public/css/style.css')

  body
    block main
